force-app/unpackaged/flows/DOM_Onboarding_SFL_CREATE_Link_Between_External_Contact_Credential_and_Traini.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Current_UniqueKey_to_Final_UniqueKey_Collection</name>
        <label>Add Current UniqueKey to Final UniqueKey Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalUniqueKeyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_UniqueKey_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_UniqueKey_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TrainingAssingmentCredential_Record_to_Collection</name>
        <label>Add TrainingAssingmentCredential Record to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentCredentialRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssignmentCredentialRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Build_FinalRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UniqueKey_c_to_Collection_of_Existing_Unique_Keys</name>
        <label>Add UniqueKey__c to Collection of Existing Unique Keys</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingKeyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Existing_Training_Assignment_Credentials.UniqueKey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Existing_Training_Assignment_Credentials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UniqueKey_to_UniqueKey_Collection</name>
        <label>Add UniqueKey to UniqueKey Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UniqueKeyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Assignment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TrainingAssignmentRecord_to_Collection</name>
        <label>Assign TrainingAssignmentRecord to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentCredentialRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssignmentCredentialRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Training_Assignment_Credential_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Record</name>
        <label>Assign Values to Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentCredentialRecord.External_Contact_Credential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentExternalContactCredentialId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentCredentialRecord.Training_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTrainingAssignmentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TrainingAssingmentCredential_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_ECC_and_TA_have_Same_Training_Requirement</name>
        <label>Does ECC and TA have Same Training Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Training_Assignment_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - They Do Not Match</defaultConnectorLabel>
        <rules>
            <name>Yes_TA_and_ECC_Have_Same_Training_Requirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_External_Contact_Credentials.Training_Requirement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Training_Assignment_Records.Vendor_Training_Requirement__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_UniqueKey_to_UniqueKey_Collection</targetReference>
            </connector>
            <label>Yes - TA and ECC Have Same Training Requirement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Unique_Key_Exist</name>
        <label>Does Unique Key Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_TrainingAssignmentRecord_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Key Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Key_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueKeyCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UniqueKey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Training_Assignment_Credential_Records</targetReference>
            </connector>
            <label>Yes - Existing Key Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_UniqueKey_In_Existing_UniqueKeys</name>
        <label>Is Current UniqueKey In Existing UniqueKeys</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Current_UniqueKey_to_Final_UniqueKey_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Current UniqueKey is Not In Existing UniqueKeys</defaultConnectorLabel>
        <rules>
            <name>Yes_Current_UniqueKey_is_in_Existing_UniqueKeys</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingKeyCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_UniqueKey_Collection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_UniqueKey_Collection</targetReference>
            </connector>
            <label>Yes - Current UniqueKey is in Existing UniqueKeys</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - Onboarding Object - Subflow - CREATE - Link Between External Contact Credential and Training Assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentExternalContactCredentialId</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Loop_and_Build_FinalRecords},LEN({!Loop_and_Build_FinalRecords}) - FIND(&quot;|&quot;,{!Loop_and_Build_FinalRecords}))</expression>
    </formulas>
    <formulas>
        <name>CurrentTrainingAssignmentId</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_and_Build_FinalRecords},FIND(&quot;|&quot;,{!Loop_and_Build_FinalRecords})-1)</expression>
    </formulas>
    <formulas>
        <name>UniqueKey</name>
        <dataType>String</dataType>
        <expression>{!Loop_Training_Assignment_Records.Id}&amp;&apos;|&apos;&amp;{!Loop_External_Contact_Credentials.Id}</expression>
    </formulas>
    <interviewLabel>DOMAIN - Onboarding - SFL - CREATE - Link Between External Contact Credential and Training Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Onboarding - SFL - CREATE - Link Between External Contact Credential and Training Assignment</label>
    <loops>
        <name>Loop_All_Existing_Training_Assignment_Credentials</name>
        <label>Loop All Existing Training Assignment Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ExistingTrainingAssignmentCredentialRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_UniqueKey_c_to_Collection_of_Existing_Unique_Keys</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_UniqueKey_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_and_Build_FinalRecords</name>
        <label>Loop and Build FinalRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>FinalUniqueKeyCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Unique_Key_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_External_Contact_Credentials</name>
        <label>Loop External Contact Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ExternalContactCredentialRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Training_Assignment_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Existing_Training_Assignment_Credentials</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Training_Assignment_Records</name>
        <label>Loop Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingAssignmentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_ECC_and_TA_have_Same_Training_Requirement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_External_Contact_Credentials</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_UniqueKey_Collection</name>
        <label>Loop UniqueKey Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>UniqueKeyCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_UniqueKey_In_Existing_UniqueKeys</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_and_Build_FinalRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Assignment_Credential_Records</name>
        <label>Create Training Assignment Credential Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TrainingAssignmentCredentialRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Existing_Training_Assignment_Credentials</name>
        <label>Get All Existing Training Assignment Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Existing_Training_Assignment_Credentials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniqueKey__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UniqueKeyCollection</elementReference>
            </value>
        </filters>
        <object>TrainingAssignmentCredential__c</object>
        <outputReference>ExistingTrainingAssignmentCredentialRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UniqueKey__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_External_Contact_Credentials</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Check_if_Existing_Key_Exists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Training_Assignment_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ExistingKeyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingTrainingAssignmentCredentialRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TrainingAssignmentCredential__c</objectType>
    </variables>
    <variables>
        <name>ExternalContactCredentialRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>POE_External_Contact_Credential__c</objectType>
    </variables>
    <variables>
        <name>FinalUniqueKeyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentCredentialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TrainingAssignmentCredential__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentCredentialRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TrainingAssignmentCredential__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>UniqueKeyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
