force-app/unpackaged/flows/Onboarding_Subflow_Update_Vendor_Onboarding_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Do_We_Have_Insurance_Record_Created</name>
        <label>Do We Have Insurance Record Created?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Dealer_Insurance_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Update Record</defaultConnectorLabel>
        <rules>
            <name>No_Create_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dealerInsuranceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dealerInsuranceId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Principal_Owner</targetReference>
            </connector>
            <label>No - Create Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Onboarding - Subflow - Update Vendor Onboarding Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - Subflow - Update Vendor Onboarding Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dealer_Insurance_Record</name>
        <label>Create Dealer Insurance Record</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_General_Liability_Exp_Date__c</field>
            <value>
                <elementReference>GeneralLiabilityExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commerical_Automobile_Exp_Date__c</field>
            <value>
                <elementReference>AutoInsuranceExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Email__c</field>
            <value>
                <elementReference>Get_Principal_Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Insurance_Record_Type_that_Matches_Vendor_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workers_Comp_Exp_Date__c</field>
            <value>
                <elementReference>WorkersCompExpDate</elementReference>
            </value>
        </inputAssignments>
        <object>Dealer_Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Insurance_Record_Type_that_Matches_Vendor_Name</name>
        <label>Get Insurance Record Type that Matches Vendor Name</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Dealer_Insurance_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer_Insurance__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Principal_Owner</name>
        <label>Get Principal Owner</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insurance_Record_Type_that_Matches_Vendor_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Principal_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Record</name>
        <label>Update Contract Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Update_Vendor_Order_Entry_Platform_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>contractStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dealer_Insurance_Record</name>
        <label>Update Dealer Insurance Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dealerInsuranceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_General_Liability_Exp_Date__c</field>
            <value>
                <elementReference>GeneralLiabilityExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commerical_Automobile_Exp_Date__c</field>
            <value>
                <elementReference>AutoInsuranceExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workers_Comp_Exp_Date__c</field>
            <value>
                <elementReference>WorkersCompExpDate</elementReference>
            </value>
        </inputAssignments>
        <object>Dealer_Insurance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ERP_Setup_Record</name>
        <label>Update ERP Setup Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Interview_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>erpSetupId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>erpSetupStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ERP_Setup__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interview_Record</name>
        <label>Update Interview Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Do_We_Have_Insurance_Record_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InterviewRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Status__c</field>
            <value>
                <elementReference>InterviewRecord.Interview_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>onboardingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_Insurance__c</field>
            <value>
                <elementReference>Create_Dealer_Insurance_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Order_Entry_Platform_Record</name>
        <label>Update Vendor Order Entry Platform Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Update_ERP_Setup_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorOrderEntryPlatformStatusId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Setup_Status__c</field>
            <value>
                <elementReference>vendorOrderEntryPlatformStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Vendor_Order_Entry_Platform__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AutoInsuranceExpDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerInsuranceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>erpSetupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>erpSetupStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneralLiabilityExpDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InterviewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview__c</objectType>
    </variables>
    <variables>
        <name>onboardingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>vendorOrderEntryPlatformStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vendorOrderEntryPlatformStatusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkersCompExpDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
